<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Projects Page</title>
  </head>
  {{> header}}
  <body class="text-white bg-dark">
    <div class="jumbotron jumbotron-fluid m-3 bg-secondary">
      <div class="container">
        <h1 class="display-4">About Me</h1>
        <p class="lead">Hello my name is Collin Barlow.</p>
        <p class="lead">So far in my life two people have inspired me.</p>
        <p>The first was Monty Oum, during highschool I high school I had a difficult time conforming to the structure of school. I would often ignore homework, but during class I would pay full attention. This lead to some of the highest test scores in my class, but also having some of the lowest grades because of the lack of homework. That lead to me quitting school. Monty Oum inspired me because he also didn't finish highschool but he managed to become a succesful animator on his own, being self-taught, he went on to creating his own series called RWBY, but sadly right before it blew up in popularity, he passed away due to an alergic reaction. Despite his passing, he still gave me the hope that I could do the same, that even though I didn't finish highschool I would still be able to be succesful.</p>
        <p>That leads to the next inspiration, my father, who is a senior developer, helped me find what I needed. Community College turned out to be the same deal as highschool and recognizing that I quickly got out, my father showed me the coding bootcamps that exist, and I finally found DigitalCrafts, a fast paced learning environment, that focuses more on hands on experience. While participating in the bootcamp I learned more about coding than most would with a college degree and feel confident in my ability to apply that knowledge I gained.</p>
        <a href="https://www.digitalcrafts.com/?utm_campaign=Brand%20-%20Houston&utm_term=digitalcrafts&utm_source=adwords&utm_medium=ppc&hsa_mt=e&hsa_ver=3&hsa_grp=55527103913&hsa_ad=393646386619&hsa_tgt=kwd-391713847886&hsa_kw=digitalcrafts&hsa_src=g&hsa_cam=1345760529&hsa_net=adwords&hsa_acc=1380530620&gclid=EAIaIQobChMIg5rMzcmV5wIVz4CfCh1GQQFnEAAYASAAEgJP8vD_BwE" class="text-info">DigitalCrafts Website</a>
        <p class="lead">Things I enjoy include</p>
        <p>Playing video games, as well as dungeons and dragons with friends over the computer, or on a console.</p>
        <p>I mostly read manga rather than watch the anime, but every now and then I will watch a scene.</p>
        <p class="lead">Personality</p>
        <p>I'm not the most outgoing person, but once a friendship is there, I become much more talkative.</p>
        <p>I'm very easy going, if a problem arises I manage to stay very calm and work through it, although depending on the situation i could be seething on the inside</p>
        <p>I'm also very hardworking, when I'm at work I get down to buisness and get it done, because once I'm home I'm looking to relax and not deal with work anymore.</p>
        <p class="lead">My Goal</p>
        <p>I want to take what I learned from DigitalCrafts as a base, and continue to build my knowledge further, while working as a consultant, so that eventually I will be able to design and code games, on the level of Halo, or W.o.W., or other A-list titles.</p>
      </div>
    </div>
    <ul class="list-group list-group-flush m-3 bg-secondary"><h3 class="m-3">Skills</h3>
      <li class="list-group-item bg-secondary">Python <i class="fab fa-python fa-lg"></i></li>
      <li class="list-group-item bg-secondary">HTML <i class="fab fa-html5 fa-lg"></i></li>
      <li class="list-group-item bg-secondary">CSS <i class="fab fa-css3-alt fa-lg"></i></li>
      <li class="list-group-item bg-secondary">Javascript <i class="fab fa-js-square fa-lg"></i></li>
      <li class="list-group-item bg-secondary">Node.js <i class="fab fa-node-js fa-lg"></i></li>
      <li class="list-group-item bg-secondary">BootStrap <i class="fab fa-bootstrap fa-lg"></i></li>
      <li class="list-group-item bg-secondary">PostgreSQL/Sequelize</li>
      <li class="list-group-item bg-secondary">React <i class="fab fa-react fa-lg"></i></li>
      <li class="list-group-item bg-secondary">Redux</li>
    </ul>
    <h3 class="m-3">Projects</h3>
    <div class="d-flex justify-content-around mt-3">
      <div class="card" style="width: 18rem;">
        <img src="./images/BlogClone.png" class="card-img-top bg-secondary" alt="...">
        <div class="card-body bg-secondary">
          <h5 class="card-title">Blog Site, Back-End Project</h5>
          <p class="card-text">To show what we learned on back-end development, groups were tasked to create and deploy a website to show these skills.Working with, , together we created a clone of 'Medium' a popular blog site, our site had the capabilities to register, then post or view blogs.</p>
          <a href="https://github.com/j-ckie/11-2019-backend-project" class="btn btn-primary">GITHUB</a>
          <a href="https://well-done-medium-clone.herokuapp.com/" class="btn btn-primary">Live Demo</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./images/MovieReviewSite.png" class="card-img-top bg-secondary" alt="...">
        <div class="card-body bg-secondary">
          <h5 class="card-title">Movie Review Site, UI Project</h5>
          <p class="card-text">This assignment was done to get a more familiar understanding of user interface, as well as develop skills using databases and web API's.This Project was done with a partner Luis Pladano, together we strung together a Web API with our Firebase database to show and create reviews on movies.</p>
          <a href="https://github.com/Collinbarlow98/UIProject" class="btn btn-primary">GITHUB</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="./images/PoolTableApp.png" class="card-img-top bg-secondary" alt="...">
        <div class="card-body bg-secondary">
          <h5 class="card-title">Python Assignments</h5>
          <p class="card-text">These assignments were worked on in order to learn and familiarize myself with python.The most impressive assignment was the Pool table app, in which we had to develop a terminal program that would manage a set of pool tables.</p>
          <a href="https://github.com/Collinbarlow98/Assignments" class="btn btn-primary">GITHUB</a>
        </div>
      </div>
    </div>
    <div class="card m-3 bg-secondary">
      <div class="card-body">
        <h5 class="card-title">View In New Tab</h5>
        <a href="./images/CollinBarlowResume.pdf" class="btn btn-primary">Download</a>
      </div>
      <iframe src="./images/CollinBarlowResume.pdf" width="100%" height="500px"></iframe>
    </div>
    {{> footer}}
  </body>
</html>
